@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;900&display=swap");
/*Variables*/
/*Colores*/
/*Mapa*/
/*Fuentes*/
/*margen y relleno*/
/*tamaño y flexibilidad*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  box-sizing: border-box; }

/*Encabeado (header)*/
.navbar {
  background-color: #ffe8df !important;
  font-family: raleway;
  font-weight: 600; }
  .navbar .LinkNav {
    text-decoration: none;
    color: #000000; }
    .navbar .LinkNav .listasNav {
      list-style: none;
      margin: 0;
      padding: 0;
      display: inline;
      padding: 5px;
      font-size: 16px;
      font-weight: 600;
      text-align: right; }

@keyframes turnos {
  0% {
    transform: scale(1, 0); }
  10% {
    transform: scale(1.1); }
  20% {
    background-color: #9ED5C5;
    transform: scale(1.2); }
  30% {
    transform: scale(1.3); } }

.container .row .subtitulos, .container .row .titulos {
  margin: 0 0 0 10px;
  font-size: 25px;
  font-weight: 600; }

.container .row .palabraEspecial {
  margin: 10px;
  font-style: italic;
  font-weight: 600; }

.titulos {
  font-size: 30px; }

#principal .eslogan {
  margin: 10px;
  height: 100%;
  align-items: center;
  display: flex;
  font-size: 26px;
  justify-content: center;
  text-align: center; }

#principal img {
  width: 100%;
  height: 400px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  object-fit: cover; }
  @media screen and (max-width: 768px) {
    #principal img {
      height: 500px;
      border-radius: 10px;
      object-fit: cover; } }

#clientes .col-lg-4 {
  margin: 0 !important;
  padding: 25px; }

#clientes img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover; }

#clientes .comentario {
  margin-top: 15px;
  text-align: center;
  font-style: italic;
  font-weight: 600; }

.cajaTurnos {
  width: 45px;
  height: 45px;
  background-color: #ffe8df;
  padding: 5px;
  border-radius: 10px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  animation-name: turnos;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 10s;
  animation-delay: 1s; }

#nosotros .col-lg-4 {
  margin: 0 !important;
  padding: 25px; }

#nosotros img {
  width: 100%;
  height: 400px;
  border-radius: 100%;
  object-fit: cover; }

#higiene .col-lg-4 {
  margin: 0 !important;
  padding: 25px; }

#higiene img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px; }
  @media screen and (max-width: 768px) {
    #higiene img {
      margin-bottom: 15px;
      border-radius: 10px; } }

#materiales .col-lg-4 {
  margin: 0 !important;
  padding: 25px; }

#materiales img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px; }
  @media screen and (max-width: 768px) {
    #materiales img {
      margin-bottom: 15px;
      border-radius: 10px; } }

#servicio .col-lg-4 {
  margin: 0 !important;
  padding: 25px; }

#servicio img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px; }
  @media screen and (max-width: 768px) {
    #servicio img {
      margin-bottom: 5px;
      border-radius: 10px; } }

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%; }

/*PORTFOLIO*/
.subtitulos, .titulos {
  margin: 0 0 0 10px;
  font-size: 25px;
  font-weight: 600; }

#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px; }

#galeria img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  transition: .5s; }
  #galeria img:hover {
    transform: scale(1.5); }

.publicidad {
  display: flex;
  justify-content: center;
  align-items: center; }

.publicidadVideo {
  display: inline-block;
  position: relative;
  margin: 3% auto; }

.tituloPlublicidad {
  margin: 10px;
  font-size: 25px;
  font-style: italic; }

.footer {
  background-color: #888888;
  text-align: center; }

.redes-container {
  display: flex;
  align-items: center;
  justify-content: center; }
  .redes-container ul:hover a {
    filter: blur(2px); }
  .redes-container li {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center; }
    .redes-container li a {
      display: block;
      padding: 0 10px;
      background-color: #333;
      color: #fff;
      line-height: 50px;
      font-size: 18px;
      transition: .2s; }
      .redes-container li a:hover {
        transform: translate(-3px) scale(q 0.05);
        filter: none; }

:root {
  /*Mapa quizas?????????*/
  --instagram: #e4405f;
  --whatsapp: #00bb2b;
  --facebook: #3b5999;
  --twitter: #55acee;
  --youtube: #c4302b; }

.redes-container ul li .instagram:hover {
  background-color: var(--instagram); }

.redes-container ul li .whatsapp:hover {
  background-color: var(--whatsapp); }

.redes-container ul li .facebook:hover {
  background-color: var(--facebook); }

.redes-container ul li .twitter:hover {
  background-color: var(--twitter); }

.redes-container ul li .youtube:hover {
  background-color: var(--youtube); }

.fondo {
  width: 100%;
  height: 81vh;
  background-color: #ffe8df98; }

.botonVolver {
  width: 150px;
  height: 30px;
  font-style: italic;
  border-width: 1px;
  font-weight: 600;
  background-color: #f5c6b3;
  border-radius: 10px; }

a {
  text-decoration: none;
  color: black; }
