@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;900&display=swap');

@mixin tamaños($width,$height){
    width: $width;
    height: $height;
    object-fit: $objeto-cover;
}

@mixin display-content-items{
    display: flex;
    justify-content: center;
    align-items: center;
}